body {
    background-color: #F2F5F7;
    margin: 0px;
    padding: 0px;
}
* {
    font-family: 'Gudea', sans-serif;
}

a {
    color: #ED005F;
}

a#header {
    color: white;
}

table {
    border-collapse: collapse;
}

td {
    padding: 20px;
}
th {
    padding: 10px;
}
tr:nth-child(even) {
    background: #EBEEF2
}

a {
    text-decoration: none;
}
h2.subtitle {
    color: gray;
    margin-top: 0px;
}
div.contract {
    background-color: white;
    padding: 15px;
    margin: 15px;
}

div.container{
    background-color: white;
    padding: 15px;
    margin: 15px;
}
div#title {
    padding: 2px 15px;
    margin: 2px 15px;
    display: inline-block;
}

div#subtitle {
    background-color: #CCCCCC;
    color: white;
    display: inline-block;
    padding: 2px 15px;
    margin: 2px 15px;
}

div#map-cities {
    width: 35%;
    max-width: 100%;
    float: left;
    margin-right: 15px;
    vertical-align: top;
}

div#map {
    width: 63%;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    vertical-align: top;
}

div#detail {
    margin: 0px;
    margin-top: -10px;
    padding: 0px;
    width: 100%;
}

div#header {
    background-color: black;
    color: white;
    width: 100%;
    height: 25px;
    letter-spacing: 2px;
    padding: 15px 30px;
    margin-bottom: 10px;
}

hr {
    border-color: none;
    color: gray;
    background-color: #gray;
    height: 1px;
    margin: 10px;
}

div.bar {
    height: 20px;
    background-color: black;
}

div.subtitle {
    background-color: black;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 1240px) {
   div#map-cities {
    float: left;
    margin-right:10px;
    width: auto;
  }
  div#map {
    width: auto;
    overflow: hidden;
  }
  .contract-map {
    width: 100%;
    margin: -10px;
  }
}


@media screen and (max-width: 1100px) {
   div#map-cities {
    float: none;
    width: auto;
    max-width: auto;
    margin-right:0px;
    margin-bottom: 20px;
  }
  div#map {
    width: auto;
    overflow: hidden;
  }
  .contract-map {
    width: 100%;
    margin: -10px;
  } 
}
