
{% include 'partials/head.html' %}


        <div id="title"><h1>Hewlett-Packard</h1></div>
        <div id="subtitle"><p style="font-size: 12px; letter-spacing: 1.5px;">{{ object['ProductorServiceCode'] }} </p></div>


            <div class="contract">
                <small>{{ object.DateSigned }}</small>
                <h1>${{ object.DollarsObligated }}</h1>
                <h4>{{ object.AgencyID }} / {{ object.ContractingAgency }}</h4>
                <p>{{ object.ContractDescription }}</p>
                <p>{{ object.RecipientAddressLine123 }}, {{ object.RecipientCity }}, {{ object.RecipientState }}</p>
            </div>

{% include 'partials/foot.html' %}
