
{% include 'partials/head.html' %}


        <div id="subtitle"><p style="font-size: 12px; letter-spacing: 1.5px;">{{ object_list[0]['ProductorServiceCode'] }} </p></div>



        {% for obj in object_list %}
            <div class="contract">
                <small>Fiscal year: {{ obj.FiscalYear }}</small>
                <h1><a href="{{ obj.record_count }} ">${{ obj.DollarsObligated }}</a></h1>
                <h4>{{ obj.AgencyID }} / {{ obj.ContractingAgency }}</h4>
                <p>{{ obj.ContractDescription }}</p>
                <p>{{ obj.RecipientAddressLine123 }}, {{ obj.RecipientCity }}, {{ obj.RecipientState }}</p>
            </div>
        {% endfor %}

{% include 'partials/foot.html' %}
