body {
    background-color: #F2F5F7;
}
* {
    font-family: 'Gudea', sans-serif;
}

table {
    border-collapse: collapse;
}

td {
    padding: 20px;
}
th {
    padding: 10px;
}
tr:nth-child(even) {
    background: #EBEEF2
}

a {
    text-decoration: none;
}
h2.subtitle {
    color: gray;
    margin-top: 0px;
}
div.contract {
    background-color: white;
    padding: 15px;
    margin: 15px;
}

div.container{
    background-color: white;
    padding: 15px;
    margin: 15px;
}
div#title {
    padding: 2px 15px;
    margin: 2px 15px;
}

div#map-cities {
    width: 35%;
    max-width: 100%;
    float: left;
    margin-right: 15px;
    vertical-align: top;
}

div#map{
    width: 63%;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    vertical-align: top;
}
hr {
    border-color: none;
    color: gray;
    background-color: #gray;
    height: 1px;
    margin: 10px;
}

div.bar {
    height: 20px;
    background-color: black;
}

@media screen and (max-width: 1240px) {
   div#map-cities { 
    float: left;
    margin-right:10px; 
    width: auto; 
  }
  div#map {
    width: auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 1100px) {
   div#map-cities { 
    float: none;
    width: auto;
    max-width: auto;
    margin-right:0px;
    margin-bottom: 20px;
  }
  div#map {
    width: auto;
    overflow: hidden;
  }
}

a:link {
    color: red;
}